.cluster_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cluster{
    position: relative;
    font-family: sans-serif !important;
}
.cluster_buttons{
    padding: 8px !important;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}